---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* COLORS */

$whitish:  #FCFCFC; /* #FDFDFD;*/
$dark-blue: #336699;
$light-blue: #0066BB;
$orange: #DE4A40;
$red: #CD1F2D;

/* General rules */

body {
	padding-top: 52px; /* 50+2 extra pixels for navbar+border */
	background: $whitish;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

@include headings {
	font-family: 'Nunito', Arial, sans-serif;
	font-weight : bold;
	margin-bottom : 0.75em;
	margin-top : 1em;
}

p, li {
	font-family: 'Cardo', serif;
	font-size: 1.25em;
	text-align: justify;
}

blockquote {
	font-size: 1em;
	border-left: 5px solid #ccc;
}

a {
	color: $light-blue;
	text-decoration: none;
	font-weight: bold;
}

a:focus, a:hover {
    color: $dark-blue;
    text-decoration: underline;
	font-weight: bold;
}

hr {
	border-top: 1px solid #CCC;
}

figure.highlight {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Bio */

.nav-tabs > li.active > a{
background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, $whitish); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, $whitish); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, $whitish); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, $whitish); /* Standard syntax */
}

p.papertitle {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0em;
}

p.paperauthors {
	font-size: 1em;
	margin-bottom: 0em;
}

p.paperdesc {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 0em;
}

/* Blog posts */

p.blogentry {
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 0em;
}


p.blogdesc {
	font-size: 1em;
	color: gray;
	margin-bottom: 0.5em;
}

/* Single post */

h1.posttitle {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

p.postdesc {
	font-size: 1em;
	color: gray;
	margin-bottom: 1em;
}


.content-column {
	margin-top: 4em;
}

/* Footer */

.site-footer {
	margin-top: 4em;
	text-align: center;
}

p.footer-content {
	font-size: 1em;
	color: gray;
	text-align: center;
}

/* Navbar */

.navbar {
	font-family: 'Nunito', Arial, sans-serif;
	font-weight: bold;
}

li.navbar-links {
	font-family: 'Nunito', Arial, sans-serif;
	font-weight : bold;
}

.border-bottom { 
	border-bottom: 2px solid; 
	border-color: black; 
}

$bgDefault      : $whitish;
$bgHighlight    : $whitish;
$colDefault     : black;
$colHighlight   : black;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

/* Home page */

h1.index-banner {
	margin-top: -1.25em;
	margin-left: -0.25em;
	font-size : 7em;
	margin-bottom: 0;
}

.table {
	display: table !important;
}

.social-icons {
	display: inline-block !important;
	margin-right: 8px;
	margin-top: 8px;
}

a.social-icons {
	color: black;
	text-decoration: none;
}

a.social-icons:hover {
	color: gray;
	text-decoration: none;
}

@media (max-width: 576px) {
  .bigSocial {
    display:none;
  }
  .smallSocial {
    display:block;
  }
}

@media (min-width: 577px) {
  .bigSocial {
    display:block;
  }
  .smallSocial {
    display:none;
  }
}

.flexbox-container {
   height: 100%;
}


.index-content {
	text-align: left;
}


.border-top { 
	border-color: black; 
}

@media (max-width: 576px) {
	.border-top {
		border-top: 1px solid;
	}
}

@media (min-width: 577px) {
	.border-top {
		border-top: 2px solid;
	}
}

.link-social { 
	margin-top: 32px;
	margin-left: 8px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

@media (max-width: 1200px) {
	h1.index-banner {
		font-size : 6em;
	}	
}
	
@media (max-width: 768px) {
	.vertical-center {
		flex-direction: column;
	}
	h1.index-banner {
		font-size : 5em;
	}
	.debug-background {
		background-color: red;
	}
}

@media (max-width: 576px) {
	h1.index-banner {
		font-size : 3em;
	}
	
}

@media (max-width: 320px) {
	h1.index-banner {
		font-size : 2em;
	}
	
}
